@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap');

:root {
  --primary-clr: #eb3b5a;
  --primary-clr--lighter: #ee5a74;
  --dark-clr: #2f3542;
  --dark-clr--darker: #1e272e;
  --light-grey-clr: #d2dae2;
  --sans-serif: 'Open Sans', sans-serif;
  --ease: all 200ms ease;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: var(--sans-serif);
}

main,
.header__textbox {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://source.unsplash.com/1600x900/?nature);
  background-size: cover;
  background-repeat: no-repeat;
}

.header--full-height {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.header--full-height > * {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.header__textbox h1 {
  font-weight: 400;
  font-size: 3rem;
}

.header__form {
  background-color: var(--dark-clr--darker);
  padding: 4rem 0;
}

.header__form form {
  background-color: var(--dark-clr);
  display: grid;
  width: 70%;
  max-width: 20rem;
  grid-gap: 2rem;
  padding: 3rem 1.5rem;
  border-radius: .5rem;
  box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.15);

}

.header__form form > * {
  position: relative;
}

.header__form label[for=username],
.header__form label[for=password] {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  letter-spacing: .1em;
  transition: var(--ease);
  color: var(--dark-clr);
  font-size: .9rem;
}

.header__form input[type=text]:focus + label[for=username],
.header__form input[type=text]:valid + label[for=username],
.header__form input[type=password]:focus + label[for=password],
.header__form input[type=password]:valid + label[for=password] {
  top: -1em;
  font-size: .8rem;
  color: #fff;
}

.header__form input[type=text],
.header__form input[type=password] {
  background-color: var(--light-grey-clr);
  border: none;
  border-radius: 3rem;
  padding: 1rem;
  width: 100%;
}

.header__form button[type=submit] {
  background-color: var(--primary-clr);
  padding: 1rem;
  border: none;
  border-radius: 3rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: .1em;
  transition: var(--ease);
}

.header__form button[type=submit]:hover {
  background-color: var(--primary-clr--lighter);
  transform: scale(1.025);
}




@media screen and (max-width: 750px) {
  .header--full-height > * {
    flex: 1 1 100%;
  }
  .header__textbox {
    min-height: 60vh;
  }
}



